page-home {
  body{
    margin: 0;
  }
  .scroll-content
  {
    padding: 0!important;
    background-color: #FF9800;
  }
  .video_header
  {
    margin: 10px 0;
  }
  .video_header video
  {
    height: 570px;
  }
  .video_list img
  {
    width: 240px;
    height:135px;
  }
}




